.item{
    display: flex;
    justify-content: space-between;
    border: 2px solid thistle;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #A75D5D;
    margin-top: 10px;
    background-color: #F0997D;
}
.task{
    display: flex;
    margin-top: 6px;
    margin-left: 2px ;
    padding: 5px;
    background-color: #F0997D;
    border-radius: 10px;
    
}
.singleTask{
    margin-top: 4px;
    margin-left: 30px;
    margin-bottom: 4px;
    padding: 2px;
    background-color: #F0997D;
    color: #fafeff;
    border-radius: 10px;

}
.singleTask .title,
.singleTask p,
.singleTask h5 {
    background-color: #F0997D;
    margin-top: 3px;
}

.interact{
    margin-top: 6px;
    padding: 5px;
    
    
}
.interact button{
    margin: 2px;
    background-color: #D3756B;
    padding: 3px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    border:1px solid #A75D5D ;
    color: #FFC3A1;
}

.interact button:hover{
    background-color: #F0997D;
    color: #A75D5D;
}
.main { 
    display: block; 
    position: relative; 
    cursor: pointer; 
    font-size: 20px; 
    background-color: #F0997D;
    
} 

input[type=checkbox] { 
    
    opacity: 0; 
    position: absolute;

    
} 


.status { 
    position: absolute; 
    top: 25px; 
    left: 0; 
    height: 25px; 
    width: 25px; 
    background-color: whitesmoke;
    border: 1px solid grey; 
} 
  
.main input:checked ~ .status { 
    background-color: #A75D5D; 
} 
  
.status:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  
.main input:checked ~ .status:after { 
    display: block; 
} 
  

.main .status:after { 
    left: 8px; 
    bottom: 5px; 
    width: 6px; 
    height: 12px; 
    border: solid white; 
    border-width: 0 4px 4px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
} 